body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  font-size: 1em;
  background: #f0f0f0;
}

/* Flex Container styles */

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Flex items styles */

.flex-item-W25 {
  flex: 1;
  max-width: 30%;
}

.flex-item-W75 {
  flex: 1;
}

.card-wrapper {
  padding: 5px;
}

.card {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  min-height: 300px;
  padding: 10px 0;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .flex-item-W25 {
    max-width: 30%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item-W25 {
    max-width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item-W25 {
    max-width: 100%;
  }
}

@media all and (max-width: 480px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item-W25 {
    max-width: 100%;
  }
}

.img-circle {
  border-radius: 50%;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1.name {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  line-height: 100%;
  font-family: "Helvetica Neue", Helvetica;
}
h2.label {
  margin: 0;
  color: #ff0000;
  font-size: 1.47rem;
  font-weight: 300;
}
.text-center {
  text-align: center;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}
.contact-details {
  padding: 5px 0 0 5px;
}
a {
  color: #0095ff;
  text-decoration: none;
}
span { font-size: 0.8em; }
.social-link {
  margin-left: 5px;
  min-width: 35px;
  display: inline-block;
}
a img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.mobile, .email, .web, .icon,
.info, .github, .linkedin {
  padding: 2px;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.skills, .experience, .education,
.awards, .languages {
  margin-top: 1em;
  margin-left: 1em;
}
div, span, header, p,
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

.main-summary {
    background: #f1f8ff;
    padding: 1.2em 1em;
    margin: 0rem;
}
h2.summary-title {
  background: #f1f8ff;
  padding: 0 1em 0.3em 0;
  color: #ff6d1f;
  text-transform: uppercase;
  font-size: 1.1em;
}
ul.highlights{
    list-style-type: square;
    -webkit-padding-start: 15px;
}
li {
   list-style-type: square;
   list-style-position: outside;
   margin-left: 1.3em;
}
h2.section-title {
  background: #fff;
  padding: 0 1em 0.3em 0;
  color: #ff6d1f;
  text-transform: uppercase;
  font-size: 1.1em;
}
table {
	width: 100%;
}
table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#skill tr:nth-child(odd) {
    background-color: #fff;
}
table#skill tr:nth-child(even) {
   background-color:#f1f8ff;
}
.work-content {
    margin-top: 1.3em;
}
.work, .work-item {
    display: block;
    margin-bottom: 25px;
}
