html {
    display: block;
}
head {
    display: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  background: #f0f0f0;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

small {
  font-size: .66666667em;
}

.card-wrapper {
    padding: 5px;
}

.affix {
    position: fixed;
}

.pull-right {
    float: right;
}

.main {
  padding-right:15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%
}

.profile-card-wrapper .profile-card {
    padding: 10px;
}

.card {
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    min-height: 300px;
    padding: 10px 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.img-circle {
    border-radius: 50%;
}

.profile-pic {
    padding: 20px 0;
}

.profile-pic img {
    width: 100px;
    height: 100px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #777;
}

.contact-details{
    display: flex;
    padding: 5px 0;
}

.icon, .info {
  display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
}


.mobile, .email, .web, .icon, .info, .github, .linkedin {
    padding: 2px;
    vertical-align: middle;
}

.icon {
  color: #000000;
}

a {
    color: #0095ff;
    text-decoration: none;
}

div, span, header, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

small {
    font-size: 85%;
    color: #777;
}
span{
  font-size: 0.9em;
}
h1.name {
  margin: 0;
    font-size: 2rem;
    font-weight: 100;
    line-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h2.label {
  margin: 0;
    color: #ff0000;
    font-size: 1.47rem;
    font-weight: 300;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

table {
	width: 100%;
}
table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table.skill th{
    color: #4CAF50;
    text-align: center;
}
table#skill tr:nth-child(odd) {
    background-color: #fff;
}
table#skill tr:nth-child(even) {
   background-color:#f1f8ff;
}

b, strong {
    font-weight: 700;
}

.mian-card {
  display: flex;
  flex: auto;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  margin: 1rem
}

.main-summary {
    background: #f1f8ff;
    padding: 1.2em 1em;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

.skills, .experience, .education, .awards, .languages {
  margin-top: 1rem;
}
  .skills>header {
    position: relative;
  }

  h2.summary-title {
    display: inline-block;
    background: #f1f8ff;
    padding: 0 1em 0.3em 0;
    color: #ff6d1f;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    font-size: .9rem;
  }

  h2.section-title {
    display: inline-block;
    background: #fff;
    padding: 0 1em 0.3em 0;
    color: #ff6d1f;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    font-size: .9rem;
  }

  .skills-content{
    display: flex;
    }
  .item {
      width: 16em;
  }

  ol, ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }


  ul.keywords li, ul.courses li {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 4px 5px 5px;
    font-size: .9rem;
    line-height: 1;
    text-transform: lowercase;
    color: #3e6d8e;
    background-color: #dfeaf1;
    border: 0 solid #dfeaf1;
    white-space: nowrap;
 }

 li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 1.3em;
 }

 ul.highlights{
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 15px;
}

.content {
    margin-top: 1.3em;
}

.work, .work-item {
    display: block;
    margin-bottom: 25px;
}

.social-link {
    margin-left: 5px;
    min-width: 35px;
    display: inline-block;
}

a img{
  width: 40px;
  height: 40px;
  margin: 5px;
}

@media (min-width: 1050px){

  .col-md-3 {
    flex: 25 auto;
  }

  .col-md-9 {
    flex: 75 auto;
  }

  .profile-wrapper {
    width: 62%;
    margin: 0 auto;
  }

  .contact-details{
    flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .col-md-3 {
    width: 100%;
  }

  .col-md-9 {
    width:100%;
  }

  .contact-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .col-md-3 {
    width: 100%;
  }

  .col-md-9 {
    width:100%;
  }

  .contact-details{
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
}
